@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to CATSTAGRAM!</h1>
        <p>Share your favorite cat photos and see what other cat lovers are posting.</p>
        <a class="btn btn-primary btn-lg" href="/CatPhotos" role="button">View Cat Photos</a>
    </div>
</div>