@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="jumbotron text-center bg-gradient-primary">
        <h1 class="display-3 text-gray">Welcome to CATSTAGRAM!</h1>
        <p class="lead text-gray">Share your favorite cat photos and see what other cat lovers are posting.</p>
        <hr class="my-4">
        <p class="text-white">Click below to view cat photos.</p>
        <p class="lead">
            <a class="btn btn-lg btn-secondary" href="/CatPhotos" role="button">View Cat Photos</a>
        </p>
    </div>
</div>